.card{
  
    border:none;
    width: 500px;
    padding: 60px ;
    position: absolute;
    top: 50%;
    margin-top: -150px;
    left: 90%;
    transform: translate(-50%,50%);
    background: rgb(6, 146, 206);
    
}
.card h1,h6{
    color: #fff;
}
label{
    color: #fff;
}